// Mixins

@mixin brs ($topleft, $topRight, $bottomLeft, $bottomRight) {
	border-top-left-radius: $topleft;
	border-top-right-radius: $topRight;
	border-bottom-left-radius: $bottomLeft;
	border-bottom-right-radius: $bottomRight;
}

@mixin mq($size) {
	@if $size == small {
		@media (max-width: 499px) { @content;}
	}
	@else if $size == medium {
		@media screen and (min-width: 500px) and (max-width: 649px) { @content;}
	}
	@else if $size == large {
		@media screen and (min-width: 650px) and (max-width: 999px) {@content;}
	}
	@else if $size == extraLarge {
		@media screen and (min-width:1000px) {@content;}
	}
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}